[Unit]
Description = data storage for/data0

[Mount]
What = /dev/sdb
Where = /data0
Type = xfs
Options=rw,noatime
DirectoryMode=0775

[Install]
WantedBy = multi-user.target
